.card {
  color: var(--color-lime-900);
  width: 27rem;
  height: 35rem;
  background-color: var(--color-lime-200);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.08s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 2rem 1rem var(--card-box-shadow-color);
  transform: scale(1.02);
}

.card:active {
  box-shadow: 0 0 2.5rem 1.5rem var(--card-box-shadow-color);
  transform: scale(1.04);
}

.card-character-image {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
}

.card-character-name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
